<ul class="advantages-list">
    <li class="advantages-list__item">
      <div class="img-wrapper">

     <img
        src="./photos/png/cow.png"
        alt="cow-image"
        class="advantages-image"
      />
  </div>
      <h3 class="advantages-title">721</h3>
      <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item">
      <div class="img-wrapper">
      <img
        src="./photos/png/weight.png"
        alt="weight-image"
        class="advantages-image"
      />
  </div>
      <h3 class="advantages-title">16kg</h3>
      <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages-list__item">
      <div class="img-wrapper">
      <img
        src="./photos/png/ice-cream.png"
        alt="ice-cream-image"
        class="advantages-image"
      />
  </div>
      <h3 class="advantages-title">84</h3>
      <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>