    <section class="products">
      <div class="container">
        <p class="products__text">100% natural</p>
        <h2 class="products__title">Products</h2>
        <ul class="products__list">
          <li class="products__item">
            <article class="products__card products__card-ice-cream">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./img/desktop/products/ice-cream-300.jpg    1x,
                      ./img/desktop/products/ice-cream-300@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./img/tablet/products/ice-cream-200.jpg    1x,
                      ./img/tablet/products/ice-cream-200@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/mobile/products/ice-cream-200.jpg    1x,
                      ./img/mobile/products/ice-cream-200@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/mobile/products/ice-cream-300.jpg"
                    alt="Ice-cream"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Ice cream</h3>
                <p class="products__card-text">
                  Soft ice cream with a delicate taste. Made with milk, cream,
                  sugar and natural stabilizer
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./img/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="products__card products__card-ice-coffee">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./img/desktop/products/ice-coffe-300.jpg    1x,
                      ./img/desktop/products/ice-coffe-300@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./img/tablet/products/ice-coffe-200.jpg    1x,
                      ./img/tablet/products/ice-coffe-200@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/mobile/products/ice-coffe-200.jpg    1x,
                      ./img/mobile/products/ice-coffe-200@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/mobile/products/ice-coffe-300.jpg"
                    alt="Ice-coffee"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Ice coffee</h3>
                <p class="products__card-text">
                  Fragrant invigorating drink created from 100% natural
                  ingredients without the use of preservatives and flavor
                  enhancers
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./img/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
          <li class="products__item">
            <article class="products__card products__card-milkshakes">
              <div class="products__card-thumb">
                <picture>
                  <source
                    srcset="
                      ./img/desktop/products/milkshakes-300.jpg    1x,
                      ./img/desktop/products/milkshakes-300@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./img/tablet/products/milkshakes-200.jpg    1x,
                      ./img/tablet/products/milkshakes-200@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/mobile/products/milkshakes-200.jpg    1x,
                      ./img/mobile/products/milkshakes-200@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/mobile/products/milkshakes-300.jpg"
                    alt="Milkshakes"
                  />
                </picture>
              </div>
              <div class="products__card-footer">
                <h3 class="products__card-title">Milkshakes</h3>
                <p class="products__card-text">
                  Sweet drinks based on milk and ice cream, supplemented with
                  syrups, fruits, berries and other sweets of your choice
                </p>
                <svg class="products__card-arrow" width="40px" height="14px">
                  <use href="./img/sprite.svg#icon-Arrow-3"></use>
                </svg>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>