.about {
  background-color: #84a178;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 60px;
  padding-bottom: 89px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.about__label {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}

.about__title {
  margin-bottom: 82px;
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fcfcfc;
}

.about__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;

  letter-spacing: 0.04em;

  color: #fcfcfc;
}

.about__text--font-size {
  margin-bottom: 40px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 194%;

  letter-spacing: 0.04em;

  color: #fcfcfc;
}

.about__read-more {
  width: 168px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;

  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  color: #000000;
}
.about__img-wrapper {
  position: relative;

  margin-right: 100px;
  width: 500px;
  height: 500px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 250px;
}
.about__img-up {
  position: absolute;
  top: 39px;
  left: 2px;
  width: 490px;
  height: 490px;
  background: url(michael-martinelli-_nLlvmclDkc-unsplash.jpg);
  border-radius: 1852.2px;
}
.pos-flex {
  display: flex;
  align-items: center;
}
.flex-1 {
  width: 463px;
  display: flex;
  flex-direction: column;
}
